<link rel="icon" type="image/svg+xml" href="{{ get_url(path='favicon/favicon.svg', cachebust=true) }}">
<link rel="icon" type="image/png" sizes="96x96" href="{{ get_url(path='favicon/favicon-96x96.png', cachebust=true) }}">
<link rel="apple-touch-icon" sizes="180x180" href="{{ get_url(path='favicon/apple-touch-icon.png', cachebust=true) }}">
<link rel="manifest" href="{{ get_url(path='favicon/site.webmanifest', cachebust=true) }}">
<link rel="shortcut icon" href="{{ get_url(path='favicon/favicon.ico', cachebust=true) }}">
