name: ddob-website
services:
  site:
    build:
      context: ..
      dockerfile: docker/Dockerfile
    image: ddob-website:latest
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - caddy_data:/data
      - caddy_config:/config
    restart: unless-stopped

volumes:
  caddy_data:
  caddy_config:

